<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>

        <element type="boolean">
            <name>ThumbnailProcessor</name>
            <label>activate Thumbnail Processor</label>
            <label lang="de">aktiviere Thumbnail Processor</label>
            <value>false</value>
            <description>Use variable widths and heights to work with Manipulation Engine from bunnyCDN or Image Processor of keyCDN. This engine has to be enabled in their Dashboard.
                Clear all caches after changing this option.
                ATTENTION: when disabling, you would have to generate the thumbnails on your own.</description>
        </element>

        <element type="boolean">
            <name>ThumbnailPattern</name>
            <label>Thumbnail Schema</label>
            <label lang="de">Thumbnail Schema</label>
            <value>{mediaUrl}/{mediaPath}?width={width}&height={height}</value>
            <description>
                available variables:
                {mediaUrl}: https://cdn.test.de/
                {mediaPath}: media/image/5b/6d/16/tea.png
                {width}: 800
                {height}: 800
            </description>

        </element>

    </elements>
</config>


